<IfModule mod_include.c>
    Options +Includes
    XBitHack On
</IfModule>

#
# mod_rewrite related stuff.
#
<IfModule mod_rewrite.c>
    RewriteEngine On

    #
    # Markdown rendering of .md & .markdown files ; depends on
    # local/php-markdown library.
    #
    <IfDefine MARKDOWN>
        #RewriteRule ^(.*\.md)$ markdown.php?file=$1 [QSA,L]
        RewriteCond $2 =.md [OR]
        RewriteCond $2 =.markdown
        RewriteRule ^(.*)(\..+)$ ${_SB}/markdown.php?file=$0 [QSA,L]
    </IfDefine>
</IfModule>

#
# mod_autoindex theming.
#
# See local/Apaxy/apaxy/htaccess.txt
#
# F.2013-09-01 : Moved most of AI Apaxy config. in :
#   conf/mods-available/autoindex.conf
# Note that HeaderName & ReadmeName are left there c/o per default.
#
<IfDefine AI_APAXY>
    #
    # Apaxy by @adamwhitcroft
    #
    # For a full breakdown of the mod_autoindex module:
    # http://apache.org/docs/2.2/mod/mod_autoindex.html
    #

	# ENABLE INDEXING
	Options +Indexes

	# INDEX OPTIONS
	IndexOptions +FancyIndexing +IgnoreCase +FoldersFirst +XHTML +HTMLTable +SuppressRules +SuppressDescription

    #
    # THEME FILES
    #

	#IndexStyleSheet "/_apaxy/theme/style.css"
	HeaderName header.html
	ReadmeName footer.html
</IfDefine>
