[submodule "local/h5ai"]
    path = local/h5ai
    url = git://github.com/lrsjng/h5ai.git
[submodule "local/apigen"]
	path = local/apigen
	url = git://github.com/apigen/apigen.git
[submodule "local/Apaxy"]
	path = local/Apaxy
	url = git://github.com/AdamWhitcroft/Apaxy.git
[submodule "local/php-markdown"]
	path = local/php-markdown
	url = git://github.com/michelf/php-markdown.git
[submodule "local/jasonm23-markdown-css-themes"]
	path = local/jasonm23-markdown-css-themes
	url = git://github.com/jasonm23/markdown-css-themes.git
[submodule "local/highlight.js"]
	path = local/highlight.js
	url = git://github.com/isagalaev/highlight.js.git
