[submodule "local/h5ai"]
	path = local/h5ai
	url = git://github.com/lrsjng/h5ai.git
[submodule "local/apigen"]
	path = local/apigen
	url = git://github.com/apigen/apigen.git
[submodule "local/apaxy"]
	path = local/apaxy
	url = git://github.com/AdamWhitcroft/Apaxy.git
